<div class="cover">
    <div class="overlay">
        <div class="row">
            <div class="content col-sm-12">
                <div class="icon-zone col-sm-12">
                    <span class="fa fa-leanpub" aria-hidden="true"></span>
                </div>
                <div class="message col-sm-12">
                    <h1>The journey of reading</h1>
                </div>
                <div class="button-zone col-sm-12">
                    <a href="#" class="enter-button">
                        <p id="action-text">Record your knowledge</p>
                        <p id="hover-text">Liber Acta</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
